body {

    background-color: black;

    color: aliceblue;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    height: 100vh;

    margin: 0;

}



button{

    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 25px;
    border: 2px solid rgb(0, 0, 0);


    padding: 10px 40px;
    transition: all 0.5s ease;
    margin-bottom: 10px;
    
}

button:active{
     background: linear-gradient(180deg, #d8d8d8,#dfdfdf);

    transform: scale(0.95);
}
button:hover{

    transform: scale(1.05);


}

.rps {

    display: flex;

    gap: 10px;

}

.btn-start{

    background: linear-gradient(180deg, #185f06,#19be26);


    
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);

    padding: 10px 20px;
    cursor: pointer;

    transition: all 0.5s ease

}

.btn-start:hover{

    background: linear-gradient(180deg, #259409,#10da21);
    transform: scale(1.05);
}

.btn-start:active{

    transform: scale(0.95);
}

.btn-red{

    
    background: linear-gradient(180deg, #5f1006,#be1f19);


    
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);

    padding: 10px 20px;
    cursor: pointer;

    transition: all 0.5s ease


}

.btn-red:hover{

    background: linear-gradient(180deg, #941209,#da2710);
    transform: scale(1.05);
}

.btn-red:active{

    transform: scale(0.95);
}


score{
    display: flex;
 
    color: white;

}