body {

    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
}

.btn-reset {
    background: linear-gradient(180deg, #803216, #9f2a18);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px, 20px;
    /* spazio tra icona e testo */
    cursor: pointer;
   transition: all 0.5s ease
}

.btn-reset:hover {
    background: linear-gradient(180deg, #e85b23, #c9371d);
    transform: scale(1.05);
}

.btn-reset:active {
    transform: scale(0.95);
}

.icon {
    font-size: 18px;
}

.green {

    background: linear-gradient(180deg, #16801f, #189f1d);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    /* spazio tra icona e testo */
    cursor: pointer;
  transition: all 0.5s ease;
}

.green:hover {
    background: linear-gradient(180deg, #2ad62a, #1bbf1b);
    transform: scale(1.05);
}

button {
    margin: 8px;
}


.container{

    display: flex;
    flex-direction: row;
    justify-content: center;

    transition: all 0.5s ease

    
}

.btn{

    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 60px;
    cursor: pointer;
    transition: all 0.5s ease;

    height: 100px;
    width: 100px;

    cursor: pointer;

}

.icon{
    height: 50px
}

.btn-reset .icon {
    font-size: auto;
    height: auto; /* evita che prenda l'altezza 50px delle altre icone */
}